<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PayPal Multiparty Payment</title>
    <link rel="stylesheet" href="https://gigforge.jasim.online/template/styles.css">
</head>
<body>
    <div class="container">
        <h1>Pay Freelancer</h1>
        <div class="button" id="paypal-button-container"></div>
    </div>

    <!-- Payment success modal -->
    <div id="paymentSuccessModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Payment successful!</p>
        </div>
    </div>

    <script src="https://gigforge.jasim.online/template/project.js"></script>
</body>
</html>
